#content main .box-info {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 24px;
	margin-top: 36px;
}
.productCard {
	padding: 20px;
	margin: 15px 0;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
    justify-content: space-evenly;
	flex-direction: column;

}
.productCard .avatar {

	display: flex;
	justify-content: center;
	align-items: center;
}


.productCard .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
.productCard .text p {
	color: var(--dark);	
}

.prices{
	display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.edit{
    background-color: var(--blue);
    color: white;
}
.bx{
   font-size: 30px;
}

.bxs-trash{
    color: red;
}
.bxs-edit{
    color: #3C91E6;
}

.action{
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
	width: 80%;
}
